.customizers{
    display: flex;
    justify-content: space-around;
    /* margin-left: 300px; */
    /* margin-right: 500px; */
    margin-top: 200px;
}
.customcontainer{
  width: 650;
  height: 450;
  position: relative;
  text-align: center;
  color: red;
}

.topinput {
  font-size: 30px;  
  position: absolute;
  top: 28%;
  left: 49%;
  transform: translate(-50%, -50%);
  font-weight: 500;
  font-family: "Lucida Console", Monaco, monospace;
  text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191;

  }

  .bottominput {
    font-size: 30px;
    position: absolute;
    top: 71%;
    left: 49%;
    transform: translate(-50%, -50%);
    font-weight: 500;
    font-family: "Lucida Console", Monaco, monospace;
    text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191;
    }
    .cinputs{
      position: absolute;
      top: 50%;
      left: 70%;
      transform: translate(-50%, -50%);
    }

    