
.contactinfo {
    display: flex;
    margin-left: 18vw;
    margin-right: 18vw;
}

.contactatags{
    color: black;
    text-decoration: unset;
    cursor: pointer;
    display: unset;
    margin-block-start: unset;
    margin-block-end: unset;
    margin-inline-start: unset;
    margin-inline-end: unset;
}


.contactatags:hover {
    color: blue;
}

  
.contactatags:active {
    background-color: white;
}
  
.contactpage{
    margin-top: 10vh;
    
}
.removemargin{
    margin-top: unset;
    margin-bottom: unset;
}