
.contactinfo {
    display: flex;
    margin-left: 18%;
    margin-right: 18%;
}

.contactatags{
    color: black;
    text-decoration: unset;
    cursor: pointer;
    display: unset;
    margin-block-start: unset;
    margin-block-end: unset;
    margin-inline-start: unset;
    margin-inline-end: unset;
}


.contactatags:hover {
    color: blue;
}

  
.contactatags:active {
    background-color: white;
}
  
.contactpage{
    margin-top: 10vh;
    
}
.removemargin{
    margin-top: unset;
    margin-bottom: unset;
}

.mapdiv{
    height: 36%; 
    width: 50%; 
    position: absolute; 
    top: 65%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}

@media screen and (min-width: 0px) and (max-width: 720px){
    .mapdiv{
        height: 36%; 
        width: 100vw; 
        position: absolute; 
        top: 81%; 
        left: 50%; 
        transform: translate(-50%, -50%);
    }
    .contactinfo{
        min-height: 36vh;
        margin-left: unset;
        margin-right: unset;    
    }
    .location{
     min-height: 38vh;
    }
    .contactpage{

        margin-top: 15vh;
        
    }
    
}
@media screen and (min-width: 1000px){
.h2{
    font-size: 30px;
}
.h5{
    font-size: 20px;
}
}
@media screen and (min-width: 0px) and (max-width: 350px){
    .contactatags{
        color: white
    }
    .contactinfo{
        background: grey;
    }
    .h2{
        font-size: 15px;
        color: white;
      
    }

    .h5{
        font-size: 11px;
        color: white;
    }
}

