body, html {
  height: 100vh;
  width: 100vw
}

body {
  background-image: url("https://s3-us-west-2.amazonaws.com/automail-custom-covers/trianglify+(1).png");
  height: 76vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.App {
  text-align: center;

}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.reviewbody {
  border-style: solid;
  margin: 10px

}

.shareicons {
  position: fixed;
  left: calc(50vw - 140px);
  bottom: 2em;
}

.home {
 position: fixed;
 top: 2em;
 left: 3em;

}
.homebutton {
  font-size: 13px
}

.customizebody{
  
}

